# Ignore everything
*

# Don't ignore these specific items
!.gitignore
!README.md

# Don't ignore these specific dirs
!/alsa-card-profile/
!/alsa-card-profile/mixer/
!/alsa-card-profile/mixer/profile-sets/
!/Cursor/
!/Cursor/User/
!/fish/
!/fish/conf.d/
!/hypr/
!/hypr/scripts/
!/hypr/session/
!/waybar/
!/waybar/scripts/
!/onedrive/
!/spicetify/
!/spicetify/CustomApps/
!/sunshine/
!/pulse/
!/pulse/patchbay/
!/systemd/
!/systemd/user/
!/vesktop/
!/nwg-launchers/
!/nwg-launchers/nwgbar/

# Don't ignore specific dir items
!/alsa-card-profile/mixer/profile-sets/*
!/Cursor/User/settings.json
!/fish/config.fish
!/fish/conf.d/*
!/onedrive/config
!/hypr/hypr*
!/hypr/scripts/wallpaper.sh
!/hypr/scripts/wake.sh
!/hypr/scripts/pre-shutdown.sh
!/hypr/session/save.sh
!/spicetify/config*
!/spicetify/CustomApps/*
!/spicetify/CustomApps/marketplace/*
!/sunshine/apps.json
!/sunshine/set.sh
!/sunshine/reset.sh
!/sunshine/sunshine.conf
!/systemd/user/*
!/systemd/user/save-hypr-session.service
!/systemd/user/restore-hypr-session.service
!/waybar/scripts/*
!/waybar/config
!/waybar/style.css
!/pulse/default*
!/pulse/patchbay/*
!/vesktop/settings.json
!/vesktop/settings/
!/vesktop/settings/settings.json
!/vesktop/themes/
!/vesktop/themes/*
!/nwg-launchers/nwgbar/bar.json
